{% extends "base.html" %} 
{% block content %}
    <div >
        <h1><span>Pizza-Kreation</span></h1>
    </div>

    <div >
        <h2><span>Deine Pizza-Kreation wurde erfolgreich gespeichert!</span></h2>
        <button><a href="{% url 'kreation' %}">Weitere Pizza-Kreation erstellen</a></button>
        <button><a href="{% url 'bestellung' %}">Bestellung aufgeben</a></button>
    </div>

    

    <footer>
        <button2><a href="{% url 'startseite' %}">Startseite</a></button2>
   </footer>

{% endblock %}